@charset "UTF-8";
/*  Global Styles ***************
************************* */
*,
*:after,
*:before {
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
*html::after,
*html::before {
  display: block;
  content: '';
  clear: both;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #FFFFFF;
  color: #333e47;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
}
div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
}
img {
  display: block;
}
a {
  color: #007cb0;
  font-weight: 700;
  text-decoration: none;
}
a:hover,
a:active {
  color: #049fd8;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: 700;
}
b,
strong {
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0 10px;
}
p:last-child {
  margin: 0;
}
.blue {
  background: #00A7FF;
  color: #FFFFFF
}
body.Thank__You .social__icons {
  margin-top: 0;
}
body.Thank__You .content.scroll {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 50px
}
/* Head and Logos 
*********************************** */
.head {
  position: sticky;
  background-color: #FFFFFF;
  width: 100%;
  height: 85px;
  margin: 0 auto;
  clear: both;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.head::after,
.head::before {
  clear: both;
}
.head__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1180px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}
.left,
.right {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.right {
  text-align: right;
}
.left img,
.right img {
  display: inline-block;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.head-space--scroll {
  height: 65px;
}
.head--scroll {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 65px;
}
.head--scroll .left img,
.head--scroll .right img {
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
}
/* Hero Image and title 
**************************
*********************************** */
.container {
  max-width: 1180px;
}
.wrap {
  margin: 0 auto;
  max-width: 1180px;
  overflow: hidden;
}
.wrap__main {
  background-color: transparent;
  height: auto;
}
.shadow-effect {
  background-color: black;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  z-index: 2;
}
.shadow-effect:before,
.shadow-effect:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
}
.shadow-effect:after {
  right: 10px;
  left: auto;
}

.bg-hero {
  overflow: hidden;
  position: relative;
}
.image__wrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.image__wrap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.title--wrap {
  position: relative;
  width: 50%;
  padding: 7% 15px;
}
.title--wrap::after {
  content: url(../images/triangle.svg);
  position: absolute;
  width: 90%;
  bottom: -7px;
  right: -2px;
  z-index: 99999999;
}

.title__helper {
  line-height: normal;
  color: #ffffff;
  border-radius: 5px;
}
.title__helper h2 {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif !important;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-bottom: 20px;
}
.title__helper p {
  font-size: 24px;
  line-height: 1.1;
  max-width: 70%;
}

.par-header {
  line-height: 35px;
}
.media-heading {
  min-height: 70px;
}
h4.h4 {
  line-height: normal;
  margin-bottom: 0;
}
.bullets{
  font-size: 20px;
  margin: 40px 0;
}
.icon-item {
  margin-bottom: 20px;
}
.icon-item__icon {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  margin-right: 20px;
}
.icon-item__text {
  display: inline-block;
  width: calc(100% - 75px);
}
.icon-item__text h5{
  color: #00A7FF;
  margin: 0;
}
.icon-item__text p{
  margin: 0;
}

.media-heading p {
  font-size: 14px;
  line-height: 16px;
}
.form {
  position: relative;
  padding: 25px;
  border: 1px solid #333;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.form > form {
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 25px;
}
.form--field {
  margin: 5px 0 0;
}
.form--field input[type="submit"] {
  margin-top: 10px;
}
.form--field:first-of-type {
  margin: 0 0 0;
}
.form--field > .text--field {
  background-color: #fafafa;
  border: 1px solid #dbd9d6;
}
select.select--input__field {
  background: url('../images/select-arrow.png') 97% no-repeat #fafafa;
  background-size: 14px;
  border: 1px solid #dbd9d6;
  color: #9C9A9A;
}
::-webkit-input-placeholder {
  color: #9C9A9A;
  z-index: 1;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #9C9A9A;
  opacity: 1;
}
::placeholder {
  color: #9C9A9A;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #9C9A9A;
}
::-ms-input-placeholder {
  color: #9C9A9A;
}
select::-ms-expand {
  display: none;
}
select[name="country"],
select[name="industry"],
input[name="company"],
input[name="email"],
input[name="lastName"],
input[name="firstName"],
input[type="submit"] {
  padding: 7px;
  width: 100%;
  height: 35px;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
  font-weight: 100;
}
.pm-validation-error {
  font-size: 9px !important;
  color: #ff0004 !important;
  padding-left: 7px;
}
.form--button > input[type="submit"] {
  line-height: 1;
  background-color: #00A7FF;
  border: 2px solid #00A7FF;
  color: #ffffff;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form--button > input[type="submit"]:hover,
.form--button > input[type="submit"]:focus,
.form--button > input[type="submit"]:visited {
  color: #00A7FF;
  background-color: #ffffff;
}
.text--field:focus,
.select--input__field:focus {
  outline: none;
  border: 1px solid #333E47;
  background-color: #FFFFFF;
}
.opt--in {
  display: block;
  margin-bottom: 10px;
}
.smallprint {
  padding-left: 5px;
  font-size: 11px;
}
label[for="optIn"]:first-of-type {
  margin-right: 15px;
}
input[name="optIn"] {
  margin-right: 5px;
  cursor: pointer;
}
.asterisk {
  color: #FF0004;
}
.partner-logo {
  margin-bottom: 15px;
  width: 100%;
}
.partner-info {
  padding-top: 20px;
  /* border-top: 1px solid lightgray; */
}
.partner-info__small {
  width: 100%;
  font-size: 1em;
}
.partner-info > a:hover,
.partner-info > a:focus,
.partner-info > a:link {
  color: #0097d6;
  cursor: pointer;
}
.partner-info > a:visited,
.partner-info > a:active {
  color: #666666;
}
p.form-header {
  margin-top: 0;
  line-height: normal;
  padding: 7px;
  font-size: 16px;
}
h4.form-header {
  position: absolute;
  text-align: center;
  color: #333333;
  background: #ffffff;
  padding: 0 25px;
  right: 50%;
  top: 0;
  transform: translate(50%, -51%);
  line-height: 1;
}
.form--field label[for="firstName"],
.form--field label[for="lastName"],
.form--field label[for="email"],
.form--field label[for="company"],
.form--field label[for="industry"],
.form--field label[for="country"],
.form--field label[for="phone"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}
.social__icons {
  text-align: left;}
.social-media {
  margin-top: 15px;
}
.social-media a {
  display: inline-block;
  margin-right: 2%;
  position: relative;
  border-radius: 30%;
  height: 34px;
  overflow: hidden;
}
.social-media a img:hover,
.social-media a img:active {
  bottom: 34px !important;
}
.social-media > a img {
  bottom: 0px;
  height: auto;
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
  max-width: 34px;
  border: none;
}
.social-media a:last-child {
  margin-right: 0px
}
.partner__copy {
  padding: 25px;
  border: 1px solid #333E47;
}
.light-Gray {
  color: #033d47;
  background-color: #e4e3e4;
}
.gray-section {
  background-color: #e4e4e4;
  overflow: visible;
  margin-top: calc(125px + 3rem);
  padding-bottom: 50px;
}
.gray-section--thankyou {
  margin-top: calc(90px + 3rem);
}
.gray-section::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height:75px;
  top: -74px;
  left: 0;
  background-image: linear-gradient(to right top, #e4e4e4 0%, #e4e4e4 50%, transparent 50%);
}
.gray-section .wrap {
  overflow: visible;
}
.gray-section h3 {
  color: #00A7FF;
  font-size: 22px;
}
.item__img {
  margin-top: -150px;
}
footer {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 14px;
  line-height: normal;
  font-weight: 100;
  padding: 20px 0;
}
footer::after {
  content: '';
  display: table;
  clear: both;
}
footer .wrap {
  padding: 0 5px;
}
.footer__copy,
.footer__icons {
  float: left;
  width: calc(95% - 200px);
}
.footer__icons {
  float: right;
  width: 160px;
}

footer .privacy > a {
  font-size: 16px;
  text-decoration: underline;
  color: #00A7FF !important;
}
footer .privacy > a:hover,
footer .privacy > a:active {
  color: #66caff !important;
  cursor: pointer;
  -webkit-transition: all ease-in-out 30ms;
  transition: all ease-in-out 30ms;
}
footer .privacy {
  margin-bottom: 10px;
}
.partner-info.social__icons {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-size: 16px;
}
.superindex {
  font-size: .5em;
}
/* Responsive devices 
**************************
*********************************** */
@media only screen and (max-width: 1280px) {
  .gray-section {
    margin-top: calc(75px + 3rem);
  }
  .item__img {
    margin-top: -100px;
  }
}
@media only screen and (max-width: 767px) {
  .image__wrap,
  .title--wrap {
    width: 100%;
    max-width: 100%;
  }
  .image__wrap{
    max-height: 250px;
    position: relative;
  }
  .title--wrap {
    padding: 45px 15px;
    overflow: hidden;
  }
  .title__helper h2 {
    font-size: 32px;
    letter-spacing: 0;
  }
  .title__helper p {
    font-size: 22px;
  }
  h2.h2 {
    font-size: 2rem
  }
  .media-heading {
    min-height: 45px;
  }
  .form > form {
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 0;
  }
  .form--field {
    -ms-flex-preferred-size: 49%;
    margin: 0;
  }
  .form--field:nth-child(even) {
    margin: 0 0 5px 0;
  }
  footer {
    text-align: center;
  }
  .footer__copy,
  .footer__icons {
    float: none;
    width: 100%;
  }
  .footer__icons {
    float: none;
    margin: 20px auto 0;
  }
}

@media only screen and (max-width: 576px) {
  h2.h2 {
    font-size: 1.6rem;
    line-height: 1;
  }   
  .head-space,  
  .head {
    height: 100px;
  }
  .left,
  .right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    /* -webkit-transform: scale(.8); */
    /* transform: scale(.8); */
  }
  .left img {
    height: 35px;
  }
  .right img{
    width: 100px;
    display: inline-block;
  }
  .head--scroll,
  .head-space--scroll {
    height: 80px;
  }
  .title--wrap {
    padding: 35px 15px;
  }
  .title__helper h2 {
    font-size: 28px;
    margin-bottom: 5px;
  }  
  .title__helper p {
    font-size: 20px;
  }  

  .form {
    padding: 15px
  }
  .form > form {
    grid-column: 1;
    grid-template-columns: 1fr;
  }
  .form--field {
    margin: 0 0 10px !important;
  }
  .partner__copy {
    padding: 10px;
  }
  .social__icons {
    margin-top: 0;
  }
  .item__img {
    margin-top: 10px;
    text-align: center;
  }
  .item__img img {
    display: inline-block;
  }
}
/*   ***************************
    MC9300 Co-marketing LP *****
********************************
*/